@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.App {
  text-align: center;
  background-color: #753b01;
  min-height: 100vh;
  color: #eee;
} /*../public/images/cv-main.jpg' */

.main-title {
  font-size: 3rem;
  padding: 2rem 0 2rem 0;
  margin: 0  0;
  background: linear-gradient(135deg, #ff634700 5%,  #ff6347 25%,  #d67b13 70%, #d6c31300 90%);
  background-size: contain;
  border-radius: 20px;
}

.main-title::before {
  content: '|';
  color: #ff6347aa;
  background: #ff6347aa;
  filter: blur(3px);
  display: inline-block;
  width: 5%;
  border-radius: 50%;
  border: solid .05rem rgb(255, 238, 0);
  -webkit-box-shadow: -24px 0px 15px 7px #d6c313aa; 
  box-shadow: -24px 0px 15px 7px #d6c313aa;

}

.main-title span::after
 {
  content: '';
  display: block;
  /*border: .1rem solid linear-gradient(90deg, #d6c313, #ff6347);*/
  height: .15em;
  background: linear-gradient(90deg, #0000, #d6c31377, #ff634777, #0000);
  width: 100%;
  color: #0000;
}

/*.btn::after {
  content: '';
  width:20px;
  height:20px;
  color:chocolate;
  
}
*/


.textbox {
  padding: 3.5rem 0 0 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.welcome-text {
  width: 50%;
  text-shadow: 1px -1px 0 #767676;
  font-family: 'Marck Script', cursive;
  color: #222;
  font-size: 1.7rem;
}


.info-box {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 25% 0 20%;
  margin: 3rem 0 3rem 0;

}

.prev-box {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 25% 0 20%;

}

/* .info-box::after, .prev-box::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: .2rem;
  background-color: tomato;
  color: tomato;
} */

.btn {

  cursor: pointer;
  margin: 2rem;
  border-radius: 16px;
  width: 9rem;
  height: 3rem;
  color: #222;
}

.btn-start {
  cursor: pointer;
  background: linear-gradient(90deg, #ff6347, #d67b13 );
  border: .2rem solid  #d67b13;
  margin-top: 6rem;
  border-radius: 16px;
  font-weight: 500;
  width: 18rem;
  height: 6rem;
  color: #eee;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.btn-info {
  background: linear-gradient(90deg, #62c3d4, #4bc0d4);
  border: .2rem solid #49a1db;
  font-weight: 650;
}

.icon-info {
  font-size: 5rem;
  color: #eee;
  background:linear-gradient(90deg, #ff6347, #d67b13);
  border-radius: 50%;
}

.icon-doc {
  font-size: 5rem;
  color: #eee;
  background:linear-gradient(90deg, #ff6347, #d67b13);
  border-radius: 50%;
}

.description {
  font-family: 'Marck Script', cursive;
  font-size: 1.5rem;
  color: #222;
  margin-left: 1rem;
}

.btn-prev {
  background: linear-gradient(90deg, #62c3d4, #4bc0d4);
  border: .2rem solid #49a1db;
  font-weight: 650;
}


.empty-space {
  padding: 4rem 0 0 0;
}



/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/